<footer class="bg-sky-blue py-5">
    <div class="wrapper grid gap-12 justify-center md:grid-cols-2 md:text-center">
        
        <!-- Información del centro -->
        <div class="text-midnight-blue">
            <h2 class=" font-bold">Laurel Dent</h2>
            <p>Av. Heroinas y C. Hamiraya
            <p class="mt-2">+591 789 456 12</p>
            <p>contacto@laureldent.com</p>
        </div>

        <!-- Horarios -->
        <div>
        <h2 class="text-midnight-blue font-bold">Horarios de atención</h2>
        <ul>
            <li>Lun a Vie: 08:00 – 18:00</li>
            <li>Sáb: Cerrado</li>
            <li>Domingo: Cerrado</li>
        </ul>
        </div>

    </div>

    <!-- Línea inferior -->
    <div class="text-center mt-8 text-midnight-blue">
        © 2025 Laurel Dent. Todos los derechos reservados. 
    </div>
</footer>