<!-- Hero -->
  <section class="wrapper grid gap-8 justify-items-center items-center pb-5 md:grid-cols-2 md:py-14">
    <img src="/images/LarelDent11.png" alt="Illustration Intro" class="w-full max-w-lg md:order-1">

    <article class="text-center space-y-10 md:text-left">
      <h1 class="text-4xl font-bold text-midnight-blue md:text-5xl">
        Tu sonrisa nos importa
      </h1>
      <p>
        Atendemos con dedicación, paciencia y el trato de siempre. Te acompañamos en cada paso para que venir al dentista no sea un problema.
      </p>
      <div>
      <button href="#" class="button mx-auto cursor-pointer shadow-xl shadow-sky-blue/30 pointer-coarse: md:mx-0" (click)="goToWhatsApp()">Contactanos</button>
      </div>
    </article>
  </section>
  
  <section class="wrapper text-center py-20 grid gap-12 md:grid-cols-2 md:text-left">
    <article>
      <h2 class="text-3xl font-bold text-midnight-blue mb-6 md:text-4xl">
        Nuestros servicios
      </h2>
      <p class="text-slate-gray">
        Más que un servicio, nos aseguramos de que te sientas cómodo. El cuidado de tus dientes es nuestra prioridad, como también lo es para ti.
      </p>
    </article>

    <div class="grid gap-12">
      <!-- Bloque 1 -->
      <article class="space-y-4 md:space-y-6">
        <p class="bg-light-gray rounded-l-full font-bold flex items-center md:bg-transparent">
          <span class="bg-sky-blue text-white px-6 rounded-full py-2">01</span>
          <span class="flex-1 px-2">
            Revisión y diagnóstico
          </span>
        </p>
        <p class="text-slate-gray text-left">
          Revisamos tus dientes y encías para asegurarnos de que todo esté perfecto y detectar cualquier problema a tiempo
        </p>
      </article>

      <!-- Bloque 2 -->
      <article class="space-y-4 md:space-y-6">
        <p class="bg-light-gray rounded-l-full font-bold flex items-center md:bg-transparent">
          <span class="bg-sky-blue text-white px-6 rounded-full py-2">02</span>
          <span class="flex-1 px-2">
            Limpieza dental
          </span>
        </p>
        <p class="text-slate-gray text-left">
          Di adiós al sarro y la placa. Deja que tu sonrisa brille con una limpieza profesional.
        </p>
      </article>

      <!-- Bloque 3 -->
      <article class="space-y-4 md:space-y-6">
        <p class="bg-light-gray rounded-l-full font-bold flex items-center md:bg-transparent">
          <span class="bg-sky-blue text-white px-6 rounded-full py-2">03</span>
          <span class="flex-1 px-2">
            Tratamientos de caries
          </span>
        </p>
        <p class="text-slate-gray text-left">
          Si una caries aparece, la tratamos rápido y sin dolor para que sigas sonriendo sin preocupaciones.
        </p>
      </article>

      <article class="space-y-4 md:space-y-6">
        <p class="bg-light-gray rounded-l-full font-bold flex items-center md:bg-transparent">
          <span class="bg-sky-blue text-white px-6 rounded-full py-2">04</span>
          <span class="flex-1 px-2">
            Ortodoncia
          </span>
        </p>
        <p class="text-slate-gray text-left">
          Brackets o alineadores: lo que necesites para alinear tus dientes y lucir la sonrisa que siempre soñaste.
        </p>
      </article>

      <article class="space-y-4 md:space-y-6">
        <p class="bg-light-gray rounded-l-full font-bold flex items-center md:bg-transparent">
          <span class="bg-sky-blue text-white px-6 rounded-full py-2">05</span>
          <span class="flex-1 px-2">
            Extracciones
          </span>
        </p>
        <p class="text-slate-gray text-left">
          Cuando un diente ya no puede salvarse, lo retiramos de manera segura y cómoda para ti.
        </p>
      </article>

    </div>
  </section>